APP_PORT=3001

AUTH0_CLIENTID=
AUTH0_DOMAIN=
AUTH0_AUDIENCE=http://localhost:3001
AUTH0_TOKEN_SIGNING_ALG=RS256

DEV_DATABASE_HOST=localhost
DEV_DATABASE_PORT=3306
DEV_DATABASE_DATABASE=sapp
DEV_DATABASE_USERNAME=postgres
DEV_DATABASE_PASSWORD=
DEV_DATABASE_DIALECT=postgres

PROD_DATABASE_HOST=localhost
PROD_DATABASE_PORT=3306
PROD_DATABASE_DATABASE=sapp
PROD_DATABASE_USERNAME=postgres
PROD_DATABASE_PASSWORD=
PROD_DATABASE_DIALECT=postgres
