APP_PORT=3001

AUTH0_CLIENTID=
AUTH0_DOMAIN=http://<AUTH0_DOMAIN>
AUTH0_AUDIENCE=http://localhost:3001
AUTH0_TOKEN_SIGNING_ALG=RS256

DATABASE_HOST=
DATABASE_PORT=12238
DATABASE_DATABASE=railway
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=
DATABASE_DIALECT=postgres

